@import "tailwindcss";

/* 스크롤은 되는데 스크롤바는 숨김 */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
@keyframes shine {
  0% {
    transform: translateX(-40%) rotate(12deg);
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  100% {
    transform: translateX(40%) rotate(12deg);
    opacity: 0;
  }
}
